/* --------------------------GLOBAL----------------------------- */


:root {
    font-family: 'Montserrat', sans-serif;
    --green: hsl(143, 64%, 24%);
    --white: hsl(60, 9%, 98%);
    --dark: hsl(30, 6%, 25%);
    --lavender: hsl(269, 100%, 92%);
    --dark-lavender: hsl(270, 95%, 75%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UNSELECTABLE TEXT */
.side-menu,
.header:not(.search-bar) {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}


/* BASE LAYOUT GRID */
.wrapper {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid: minmax(min-content, 18%) 5fr / minmax(275px, 20%) 4fr;
}



/* -----------------------SIDEBAR------------------------------- */
.sidebar {
grid-row: 1 / 3;

display: grid;
/* used min-content and percentages instead of auto to adjust to massive screens */
grid: minmax(min-content, 10%) minmax(min-content, 30%) 1fr / 1fr;

background-color: var(--lavender, lavender);
border-right: 3px solid var(--dark, darkslategrey);
}

/* Menu items */
.sidebar > div {
    padding: 20px;
}
.sidebar > div > div {
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 400;

}
.dashboard-logo > div {
    font-weight: 500 !important;
}
.side-menu,
.dashboard-logo {
    color: var(--green, darkgreen);
    display: grid;
    grid: 1fr / 50px 1fr;
}

/* Icons */
img {
    height: 30px;
}
.dashboard-logo > img{
    height: 40px;
    margin-top: 5px;
}

/* RESPONSIVE */
.side-menu:is(:hover, :focus) {
    transform: translateX(10px);
}
.side-menu:active {
    transform: translateX(5px);
}

/* ------------------------------------------------------------- */

/* -----------------------------HEADER-------------------------- */
.header {
    display: grid;
    grid: repeat(2, 1fr) / 1fr 1fr;
    gap: 1vw;
    padding: 0 2vw;

    background-color: var(--lavender, lavender);
    border-bottom: 3px solid var(--dark, darkslategrey);
    color: var(--dark, darkslategrey);
    font-size: 1.3rem;
}
.search-bar,
.user-menu {
    grid-row: 1;
    display: grid;
    grid: 1fr / auto-flow 1fr;
    place-items: center center;
}

/* SEARCH BAR */
.search-bar{
    grid: 1fr / min-content 90%;
}
.search-bar input{
    font-size: 1.2rem;
    padding: .3rem;
    width: 95%;
    height: 30px;
    border-radius: 10px;
    border: 1px solid var(--dark, darkslategrey);
    background-color: var(--white, white);
}
.search-bar input:is(:focus, :hover) {
    outline: 3px solid var(--green, darkgreen);
    outline-offset: -2px;
}
.search-bar label{
    justify-self: end;
    transform: translateY(2px);
}

/* USER MENU */
.user-menu {
    grid: 1fr / 1fr min-content min-content;
}
.user-menu #user-picture {
    transform: scale(0.8);
    grid-column: 2;
    justify-self: center;
}
.user-menu img {
    justify-self: end;
}
.user-menu img:is(:hover, :focus) {
    transform: scale(1.1);
}
.user-menu img:active {
    transform: scale(1.2);
}
.user-menu div:last-of-type {
    justify-self: start;
    font-size: 1.2rem;
    font-weight: 500;
    white-space: nowrap;
}

/* USER DISPLAY */
.user-display,
.header-menu {
    grid-row: 2;
    display: grid;
    grid: 1fr / auto-flow 1fr;

    white-space: nowrap;
}
.user-display {
    grid: repeat(2, 1fr) / min-content 1fr;
    padding: 10px;
    /* gap: 10px; */
}
.user-display div:last-child {
    font-size: 1.5rem;
    font-weight: 500;
}
.user-display div:nth-child(2) {
    align-self: end;
    font-size: 1.1rem;
}
#user-picture {
    grid-row: 1 / 3;
    justify-self: end;
    margin: 0 1vw;

    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: url(./assets/5992418846_0424408e6e_b.jpg);
    background-size: 130%;
    background-position: 60% 15%;
    border: 1px solid var(--dark, darkslategrey);
}

/* BUTTONS */
.header-menu {
    align-self: center;
    /* margin-bottom: 1.5vw; */
    gap: 2vw;
}
button {
    border-radius: 30px;
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--dark, darkslategrey);
    background-color: var(--white, white);
    border: 3px solid var(--dark, darkslategrey);

    padding: .2rem 1.5rem;
}
button:is(:hover, :focus) {
    border: 3px solid var(--green, darkgreen);
    background-color: var(--green, darkgreen);
    color: var(--white, white);
}
button:active {
    transform: translateY(2px);
}


/* ---------------------------CONTENT--------------------------- */
.content {
    background-color: var(--white, white);
    height: 100%;
    display: grid;
    grid: 1fr 1fr/ 3fr 1fr;
    padding: 2vmin;
    gap: 2vmin;

    overflow: hidden;
}

/* PROJECT DASHBOARD */
.projects {
    grid-row: 1 / 3;
    /* border: 1px solid #000; */

    display: grid;
    /* im not sure about this 30%... but it works... */
    grid: min-content / repeat(auto-fit, minmax(min-content, 30%));
    justify-content: space-evenly;
    gap: 4vmin;
}
.card {
    width: max(220px, 15vw);
    height: max(270px, 20vw);
    border-radius: 10px;
    border: 3px solid var(--dark);
    place-self: center;
}

/* RIGHT PANEL */
.right-panel-wrapper {
    grid-row: 1 / 3;
    grid-column: 2;

    display: grid;
    grid: 1fr 1fr / 1fr;
    gap: 4vmin;
    overflow: scroll;

    /* hide scrollbar for firefox */
    scrollbar-width: none;
}
    /* hide scrollbar for the rest */
.right-panel-wrapper::-webkit-scrollbar {
    display: none;
}

.announcements,
.trending {
    display: grid;
    padding: 2vmin;
    gap: 2vmin;
    border: 3px solid var(--dark, darkslategrey);
    border-radius: 10px;
}
.item {
    border-bottom: 1px solid var(---dark, darkslategrey);
    padding-bottom: 2vmin;
}
.item:last-of-type {
    border: none;
}
.item > p:first-child {
    font-weight: 500;
    color: var(--green, darkgreen);
    font-size: 1.1rem;
    margin-bottom: 10px;
}
.item > p:last-child {
    color: var(--dark, darkslategrey);
}