/* --------------------------GLOBAL----------------------------- */


:root {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;

    --green: hsl(88, 61%, 20%);
    --white: hsl(77, 57%, 95%);
    --black: hsl(24, 10%, 10%);
    --orange: hsl(21, 90%, 48%);
    --yellow: hsl(48, 97%, 86%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UNSELECTABLE TEXT */
.side-menu,
.header:not(.search-bar) {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}


/* BASE LAYOUT GRID */
.wrapper {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid: minmax(min-content, 12%) 5fr / minmax(200px, 15%) 4fr;
}



/* -----------------------SIDEBAR------------------------------- */
.sidebar {
grid-row: 1 / 3;

display: grid;
/* used min-content and percentages instead of auto to adjust to massive screens */
grid: minmax(min-content, 10%) minmax(min-content, 30%) 1fr / 1fr;

background-color: var(--white);
border-right: 2px solid var(--black);

box-shadow: inset 0px 125px 50px -30px var(--yellow);
}

/* Menu items */
.sidebar > div {
    padding: 20px;
    padding-left: 5px;
}
.sidebar > div > div {
    padding: 10px;
    font-size: 1.1rem;
    font-weight: 400;

}
.dashboard-logo {
    padding-left: 11px !important;
}
.dashboard-logo > div {
    font-weight: 500 !important;
    padding-left: 5px !important;
}
.side-menu,
.dashboard-logo {
    color: var(--black);
    display: grid;
    grid: 1fr / 35px 1fr;
}

/* Icons */
img {
    height: 22px;
}
.dashboard-logo > img{
    height: 30px;
    margin-top: 7px;
}

/* RESPONSIVE */
.side-menu:is(:hover, :focus) {
    transform: translateX(10px);
}
.side-menu:active {
    transform: translateX(5px);
}

/* ------------------------------------------------------------- */

/* -----------------------------HEADER-------------------------- */
.header {
    display: grid;
    grid: repeat(2, min-content) / 1fr 1fr;
    padding: 0 1.5vw;

    background-color: var(--white, white);
    border-bottom: 2px solid var(--black, black);
    color: var(--black, black);

    box-shadow: inset 0px 125px 50px -30px var(--yellow);
}
.search-bar,
.user-menu {
    grid-row: 1;
    display: grid;
    grid: 1fr / auto-flow 1fr;
    place-items: center center;

    padding-top: 5px;
}

/* SEARCH BAR */
.search-bar{
    grid: 1fr / min-content 90%;
}
.search-bar input{
    font-size: 1rem;
    font-family: inherit;
    padding: 0 .5rem;
    width: 95%;
    height: 1.6rem;
    border-radius: 15px;

    border: 1px solid var(--black, black);
    background-color: var(--white, white);
    box-shadow: inset 0px 1px 4px -2px #000;
}
.search-bar input:is(:focus, :hover) {
    outline: 1px solid var(--black, black);
}
.search-bar label{
    justify-self: end;
    transform: translateY(2px);
}

/* USER MENU */
.user-menu {
    grid: 1fr / 1fr min-content min-content;
}
.user-menu #user-picture {
    transform: scale(0.8);
    grid-column: 2;
    justify-self: center;
    margin: 0 0.5vw;
}
.user-menu img {
    justify-self: end;
}
.user-menu img:is(:hover, :focus) {
    transform: scale(1.1);
}
.user-menu img:active {
    transform: scale(1.2);
}
.user-menu div:last-of-type {
    justify-self: start;
    font-size: 1rem;
    font-weight: 500;
    white-space: nowrap;
}

/* USER DISPLAY */
.user-display,
.header-menu {
    grid-row: 2;
    display: grid;
    grid: 1fr / auto-flow 1fr;

    white-space: nowrap;
}
.user-display {
    grid: 1fr 1.4fr / min-content 1fr;
    padding: 10px;
}
.user-display div:last-child {
    font-size: 1.3rem;
    font-weight: 500;
}
.user-display div:nth-child(2) {
    align-self: end;
    font-size: .9rem;
}
#user-picture {
    grid-row: 1 / 3;
    justify-self: end;
    margin: 0 1vw;

    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: url(./assets/5992418846_0424408e6e_b.jpg);
    background-size: 130%;
    background-position: 60% 15%;
    border: 1px solid var(--black, black);
}

/* BUTTONS */
.header-menu {
    align-self: center;
    gap: 2vw;
}
button {
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 500;
    font-family: inherit;
    color: var(--black, black);
    background-color: var(--white, white);
    border: 2px solid var(--black, black);

    padding: .1rem 1.4rem;
}
button:is(:hover, :focus) {
    border: 2px solid var(--green, darkgreen);
    background-color: var(--green, darkgreen);
    color: var(--white, white);
}
button:active {
    transform: translateY(2px);
}


/* ---------------------------CONTENT--------------------------- */
.content {
    background-color: var(--white, white);
    height: 100%;
    display: grid;
    grid: 1fr 1fr/ 3fr 1fr;
    padding: 2vmin;
    gap: 2vmin;

    overflow: hidden;

    box-shadow: inset 0px 0px 10px -5px var(--black, black);
}

/* PROJECT DASHBOARD */
.projects {
    grid-row: 1 / 3;
    /* border: 1px solid #000; */

    display: grid;
    grid: min-content / repeat(auto-fill, 200px);
    justify-content: space-evenly;
    align-content: start;
    gap: 4vmin;

    overflow: scroll;
    margin-top: -2vmin;
    margin-bottom: calc(-2vmin - 1px);
    padding: 2vmin 0;

    scrollbar-width: none;
}
.projects::-webkit-scrollbar {
    display: none;
}

/* PROJECT CARDS */
.card {
    width: 200px;
    height: 240px;
    border-radius: 10px;
    border: 2px solid var(--black, black);
    border-bottom: 4px solid var(--orange);
    box-shadow: 0px 12px 15px -8px var(--orange, darkgreen);

    place-self: center;
    overflow: hidden;

    display: grid;
    grid: 80% 20% / 1fr;
}
.card:is(:hover, :focus) {
    transform: scale(1.01);
}
.card:active {
    transform: scale(1.01) translateY(5px);
}
#image-link {
    padding: 0;
    width: 100%;
}
#image-link img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card > div {
    grid-row: 2;

    background-color: var(--yellow);
    border-bottom: 1px solid var(--orange);

    display: grid;
    grid: 1fr / 1fr repeat(3, min-content);
    place-items: center;
    
}
.card > div > a {
    text-decoration: none;
    font-family: inherit;
    /* justify-self: start; */
    padding: 0 8px;
    font-size: .9rem;
    color: var(--black);
    font-weight: 500;
}
.card a ~ img {
    height: 18px;
    margin-right: 3px;
}
.card a ~ img:is(:hover, :focus) {
    transform: scale(1.1);
}
.card a ~ img:active {
    transform: scale(1.2);
}

/* RIGHT PANEL */
.right-panel-wrapper {
    grid-row: 1 / 3;
    grid-column: 2;

    display: grid;
    grid: 1fr 1fr / 1fr;
    gap: 4vmin;
    padding: 2vmin;
    overflow: scroll;
    margin: -2vmin 0;

    /* hide scrollbar for firefox */
    scrollbar-width: none;
}
    /* hide scrollbar for the rest */
.right-panel-wrapper::-webkit-scrollbar {
    display: none;
}

.announcements,
.trending {
    display: grid;
    padding: 2vmin;
    gap: 2vmin;
    border: 2px solid var(--black, black);
    border-radius: 10px;
    background-color: var(--yellow);
    box-shadow: -5px 5px 10px -8px var(--black, black);
}
.item {
    border-bottom: 2px solid var(--orange);
    padding-bottom: 2vmin;
}
.item:last-of-type {
    border: none;
}
.item > p:first-child {
    font-weight: 500;
    color: var(--green);
    font-size: 1rem;
    margin-bottom: 10px;
}
.item > p:last-child {
    color: var(--black, black);
    font-size: .8rem;
}