


:root {
    font-family: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BASE LAYOUT GRID */
.wrapper {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid: minmax(120px, 15%) 5fr / minmax(250px, 20%) 4fr;
}

.sidebar,
.header,
.content {
    border: 1px solid red;
}

.sidebar {
    grid-row: 1 / 3;
    display: grid;
    grid: repeat(3, auto) / 1fr;
}
.sidebar > div {
    padding: 20px;
}
.sidebar > div > div {
    padding: 10px;
    font-size: 1.4rem;
    font-weight: 400;

}
.dashboard-logo > div {
    font-weight: 500 !important;
}
.side-menu,
.dashboard-logo {
    display: grid;
    grid: 1fr / repeat(2, 1fr);   
}